.card-game {
  max-width: 350px;
  margin-right: 1rem;
  background-color: #e7e7e7;
  box-sizing: border-box;
}

.header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png');
  background-size: cover;
}
