form{
  width: 15rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}
p{
  text-align: center;
}

input{
  &.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  &.ng-valid.ng-touched{
    border: 1px solid green;
  }
}
